$negro: black;
$blanco: white;
$footBkg: rgb(49, 46, 46);
$bordeblanco: 1px solid white;
$bordeNegro: 1px solid black;
$bkgTextoIndex: rgb(167, 204, 221);
$bordeProductos: 1px solid rgb(196, 194, 194);
$bkgActiveMenu: rgb(44, 44, 44);
$hoverMenuColor: rgb(177, 174, 174);