/* --------- Main Secciones General --------- */

.Subtitulo__secciones {
    font-size: 1.8rem;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    background-image: url('../assets/img/img_subtitulo.jpg');
    letter-spacing: 5px;
}

.Seccion__otros {
    margin-top: 10px;
}